textarea.form-control {
    height: 150px !important;
}

.editor {
    min-height: 200px!important;
    background-color: white;
}
.angular-editor .angular-editor-wrapper .angular-editor-textarea{
    background-color: white !important;
}