.navbar-brand img {
  max-height: var(--ds-header-logo-height);
  max-width: 100%;
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    max-height: var(--ds-header-logo-height-xs);
  }
}

.navbar-toggler {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    padding: 0 10px;
  }
  border: none;
  color: var(--ds-header-icon-color);
  padding: 5px 0;
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    width: 85% !important;
  }
  .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
  }

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

