
.card-view-Browse {
    border: 1px solid #eee;
    margin-bottom: 15px;
    box-shadow: 0 5px 25px #b9cbff1f;
}
.card-view-Browse .img-band img {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottem-count-text ul li img {
    width: 22px;
    margin-right: 2px;
}
.bottem-count-text ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}
.bottem-count-text ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}
.card-view-Browse .titile h5 {
    color: #525252;
}
.card-view-Browse .titile {
    padding: 10px 15px 15px;
    background-color: #fff;
    min-height: 158px;
}
.card-view-Browse .titile a {
    background-color: #0070c0;
    border-radius: 45px;
    padding: 5px 28px;
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}
.bottem-count-text ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    border-right: 1px solid #eee;
    width: 25%;
    justify-content: center;
    padding: 7px;
}

.card-view-Browse .img-band {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    height: 200px;
    overflow: hidden;
    border: none!important;
}
.card-view-Browse .img-band img {
    width: 100%;
    object-fit: cover;
}

.img-band {
    position: relative;
}
.catg {
    position: absolute;
    top: 9px;
    left: 13px;
    background-color: #0070c0;
    padding: 2px 13px;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
}
.main-text-band h4 {
    color: #0070c0;
}
.main-text-band {
    border-bottom: 1px solid #0070c033;
    background-color: #fff;
    padding: 9px 0px 0px 0px;
    display: block;
    margin: 0px 16px;
}
.card-view-Browse {
    background-color: #fff;
}
.thumbnail img {
    display: block;
    margin: auto;
}
.card-img-top {
    width: auto!important;
}
/* .card-view-Browse .titile {
    height: 161px;
} */
.bottem-count-text i.fa {
    font-weight: 500;
}

.none{
    background-color: #fff !important;
    border-radius: 0px !important;
    padding: 0px !important;   
    color: #0070c0 !important;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}
.text-band{
    display: none;
}
#repository.text-band {
    display: block;
}
#home.text-band {
    display: block;
}
#properties.text-band {
    display: block;
}
.tab-nav-band {
    border-bottom: 2px solid #0070c052;
    margin-bottom: 20px;
}
button.tablink.current {
    position: relative;
    color: #1c1c1c;
}
.tab-nav-band button {
    border: none;
    padding: 6px 21px;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    color: #686868;
}
.tab-nav-band h2 {
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 600;
}
button.tablink.current:before {
    content: "";
    width: 100%;
    height: 7px;
    background-color: #0070c0;
    position: absolute;
    bottom: -2px;
    right: 0;
    border-radius: 0;
}
a.list-group-item.ng-star-inserted {
    font-size: 14px;
    padding: 11px 9px;
    font-weight: 600;
}

button.tabsublink.current:before {
    content: '';
    width: 100%;
    height: 7px;
    background-color: #0070C0;
    position: absolute;
    bottom: -2px;
    right: 0;
    /* border-radius: 10px; */
}
button.tabsublink.current {
    position: relative;
    color: #1c1c1c;
}
.active-tab {
    display: block;
}

.deactive-tab{
    display: none;;
}
.dropdown-user span{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #000;
}
.dropdown-user {
    position: relative;
  }
  
  .dropdown-content {
          position: absolute;
    background-color: #000000ad;
    width: 128px;
    box-shadow: 0 8px 16px #0003;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    color: #fff;
    right: 0;
    display: none;
    margin-top: -58px;
    margin-right: 23px;
  }

  i.fa.fa-share.icon-share {
    margin-left: 25px;
    background-color: #fff;
    color: #0070c0;
    padding: 7px;
    border-radius: 25px;
    margin-right: -23px;
}

.dspace-search-box {
    display: flex;
    border: 1px solid #eee;
    padding: 12px!important;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 5px 25px #b9cbff1f;
    background-color: #fff;
    padding-bottom: 0;
}
.dspace-search-box .clamp-default-3 {
    transition: height 1s;
    height: 95px!important;
}

.bottem-count-text ul li img {
    width: 28px!important;
    margin-right: 4px;
}

i.fas.fa-list.icon-list {
    font-size: 25px;
    margin-right: 10px;
    color: #0070c0bf;
}

i.fas.fa-th-large.icon-grid {
    font-size: 25px;
    color: #0070c0bf;
}
i.fas.fa-list.icon-list.active {
    color: #0070c0;
    font-size: 25px;
    margin-right: 10px;
}
i.fas.fa-th-large.icon-grid.active {
    font-size: 25px;
    color: #0070c0;
}

a.list-group-item.ng-star-inserted {
    font-size: 14px;
    padding: 11px 9px;
    font-weight: 600;
}

/* my-workspace-page CSS start here*/
.tab-section-workspace.main-mb #Pending.text-band-db {
        display: block;
}
.tab-section-workspace.main-mb .text-band-db{
        display: none;
}
.tab-section-workspace {
    margin: 50px 0px;
}
.tab-section-workspace .tab-nav-box-band {
    border-bottom: 2px solid #0070c052;
    }
.tab-section-workspace .tab-nav-box-band button.tablinkone.active {
    position: relative;
    color: #2f2f2f;
    padding: 7px 26px;
    border: 2px solid #0070c052;
    border-bottom: 0px;
    margin-bottom: -9px;
    background-color: #fafafa;
    border-radius: 12px 12px 0 0;
}
.tab-section-workspace .tab-nav-box-band button {
    border: none;
    padding: 10px 21px;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    color: #686868;
    margin-bottom: -5px;
    }
    .tab-section-workspace tr td {
    color: #474747;
    font-weight: 600;
    font-size: 16px;
}

/*tablist-css*/
.tab-section-workspace .tab-nav-box {
    display: flex;
    justify-content: space-between;
}
.tab-section-workspace .queues ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tab-section-workspace .queues ul li:first-child {
    background-color: #f2f2f2;
    color: #333;
}
.tab-section-workspace .queues ul li {
    padding: 8px 20px;
    list-style: none;
    background-color: #fbe5d6;
    margin-right: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #ee8d4a;
}
.tab-section-workspace .queues ul li:last-child {
    background-color: #fff3f3;
    color: #d70d16;
}
.tab-section-workspace .search-box .form-group {
    display: flex;
    align-items: center;
}
.tab-section-workspace .search-box .form-group input {
    padding: 5px 6px;
    border-color: #d5d5d5;
    border-radius: 0;
    font-size: 18px;
}
.tab-section-workspace .search-box .form-group label {
    display: inline-block;
    width: 65%;
    font-weight: 600;
    font-size: 18px;
    color: #06446f;
    margin-bottom: 0;
}
.tab-section-workspace .table-list table {
    width: 100%;
    margin-top: 25px;
}

.tab-section-workspace th, td {
  padding: 8px;
  text-align: left;
}

/* .tab-section-workspace tr{background-color: coral;} */

.tab-section-workspace .table-list table {
    width: 100%;
    margin-top: -7px;
}
.tab-section-workspace th {
    border-top: 2px solid!important;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid!important;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
}
.tab-section-workspace .Priority-band span {
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 600;
}
.tab-section-workspace .Priority-band {
    padding: 5px 10px;
    background-color: #fff;
    border-left: 8px solid #de0d16;
    font-weight: 500;
}
.tab-section-workspace .Priority-band.medium {
    border-left: 8px solid #ed7d31;
}
.tab-section-workspace .Priority-band.low {
    border-left: 8px solid #91d04f;
}
.tab-section-workspace .Subject {
    color: #416383;
}


.tab-section-workspace.main-db .text-band{
    display: none;
}
.tab-section-workspace.main-db #Action.text-band {
    display: block;
}
.tab-section-workspace {
    margin: 50px 0px;
}
.tab-section-workspace .tab-nav-band {
    border-bottom: 2px solid #0070c052;
    margin-bottom: 20px;
}
.tab-section-workspace .tab-nav-band button.tablink.current {
    position: relative;
    color: #000!important;
    font-size: 21px;
    font-weight: 600;
}
.tab-section-workspace .tab-nav-band button {
    border: none;
    padding: 5px 14px;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
    color: #686868;
}
.tab-section-workspace .tab-nav-band button.tablink.current:before {
    content: '';
    width: 100%;
    height: 7px;
    background-color: #0070C0;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.tab-section-workspace div#Pending {
    display: block;
}
.tab-section-workspace .text-band-db {
    display: none;
}
.tab-section-workspace .tab-list-band {
    background-color: #fff;
    padding: 12px;
    margin-top: 15px;
}
.tab-section-workspace .tr-bg-gray {
    background-color: #f6f6f6;
}

@media (max-width:767px){
    .tab-section-workspace .queues ul {
        align-items: flex-start;
        flex-direction: column;
    }
    .tab-section-workspace .queues ul li {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.tab-section-workspace .search-box .form-group label {
    width: 75%;
    font-size: 18px;
}
.tab-section-workspace .text-band-db .table-list {
    width: 100%;
    overflow: overlay;
}
.tab-section-workspace .tab-nav-box {
    flex-direction: column;
}
.tab-section-workspace .tab-nav-box-band button.tablinkone.active {
    padding: 12px 19px;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
}
.tab-section-workspace .tab-menu-band {
    width: 465px;
    margin-bottom: 0px;
}
.tab-section-workspace .tab-nav-box-band button {
    padding: 9px 12px;
    font-size: 17px;
}
.tab-section-workspace .tab-nav-box-band {
    width: 100%;
    overflow-y: hidden;
}
.tab-section-workspace .tab-main-menu-band {
    width: 581px;
    margin-bottom: 0px;
}
.tab-section-workspace .tab-nav-band{
   width: 100%;
    overflow-y: hidden;
}
.tab-section-workspace .tab-nav-band button.tablink.current {
    font-size: 24px;
}
.tab-section-workspace .tab-nav-band button.tablink{
    font-size: 24px;
}
.tab-section-workspace .tab-nav-band button.tablink.current:before {
    height: 6px;
    }
    .home-tab-band-nav .tab-nav-band button {
        padding: 7px 14px;
        font-weight: 500;
        font-size: 17px;
        display: flex;
        align-items: center;
    }
    .home-tab-band-nav .tab-nav-band{
        border-bottom: 2px solid #0070c052;
        margin-bottom: 4px;
        width: 420px;
        display: flex;
        align-items: center;
        overflow-y: overlay;
        overflow-x: hidden;
    }
    .home-tab-band-nav {
        overflow: auto;
        margin-bottom: 17px;
    }
    button.tablink.current:before {
        height: 5px;
        bottom: -1px;
    }
}
/*my-workspace-page*/
/*create-outward */
.add-user {
    padding: 10px 18px;
    background: #0070c0;
    border-radius: 11px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
}
.confrim-band {
    margin-top: 25px;
}
.confrim-band .button-band {
    display: flex;
    justify-content: flex-end;
}
.confrim-band .button-band  a.add-user {
    margin-right: 12px;
}
.confrim-band .button-band a.add-user.cancel {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
}
.upload-right-button .add-user {
    margin-left: 13px;
}

.form-group-Outward input{
    border-radius: 0px;
    padding: 11px;
    color: #918d8d;
    margin-bottom: 11px;
    border: 1px solid #ced4da;
    width: 100%;
}
.titile-band h1{
font-size: 22px;
    margin: 0;
    margin-right: 20px;
}
.form-group-Outward label {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
}
.titile-band {
    margin-bottom: 18px;
}
.file-deatils li spen {
    color: #4f4f4f;
    margin-top: 6px;
}
.file-deatils li {
    list-style: none;
    display: flex;
}
.file-deatils ul {
    padding: 0;
}
.file-deatils ion-icon {
    color: #0070c0;
    font-size: 19px;
}
.file-name h5 {
    margin-bottom: 12px;
}
.table-band th {
    font-weight: 700!important;
    color: #333;
}
.table-band td {
    font-weight: 500!important;
}
.sender-details {
    padding: 15px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.Recipients-details {
    padding: 15px 0px;
    border-top: 1px solid #ddd;
    margin-top: 12px;
}
.form-group-Outward select {
    border-radius: 0px;
    padding: 11px;
    color: #918d8d;
    margin-bottom: 11px;
    border: 1px solid #ced4da;
    width: 100%;
}



.status ul {
    display: flex;
    font-size: 18px;
    padding: 0;
    font-weight: 500;
    margin-top:15px ;
}
.status ul li {
    font-weight: 400;
}
.status ul li {
    font-weight: 400;
    margin-right: 15px;
}
.status li {
    list-style: none;
    color: #ff0f0f;
    display: flex;
    align-items: center;
}
.status li ion-icon {
    margin-right: 7px;
}
.status li.medium {
    color: #ee8944;
}
.status li.low {
    color: #92d050;
}
.status li.low ion-icon {
    background-color: antiquewhite;
    border-radius: 23px;
    background-color: #92d050;
    font-size: 15px;
}
.form-group-Outward .status {
    height: 47px;
    display: flex;
    align-items: center;
}

.dispact-band .tab-nav-darft-band button.tablinkone {
    width: auto;
    height: 26px;
    background: transparent;
    color: #0070c0;

}
.dispact-band .tab-nav-darft-band button.tablinkone.active {
    background-color: #0070c0;
    color: #fff;
}
.titile-band.dispact-band {
    display: flex;
}
.titile-band.dispact-band .tab-nav-darft-band {
    border: 1px solid #cecece85;
    border-radius: 6px;
    overflow: hidden;
}
.titile-band.dispact-band .toogle-editor {
    height: fit-content;
}
.electronic-band {
    display: flex;
    margin-right: 20px;
}
.medium-band{
     display: flex;
}
.electronic-band h1 {
    margin-right: 3px;
}
.medium-band h1 {
    margin-right: 3px;
}
.medium-band .toogle-editor {
    filter: grayscale(1);
    opacity: 0.2;
}
.Outward-band .form-group-Outward {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.Outward-band {
    display: flex;
    justify-content: space-around;
}
span.Sender {
    width: 116px;
}
.Outward-band .form-group-Outward span {
    display: flex;
    height: 45px;
    align-items: center;
}
span.high {
    border-left: 7px solid #c00000;
    padding-left: 11px;
}
.Outward-band .form-group-Outward span{
    font-weight: 500;
}
span.current-status {
    border-left: 7px solid #92d050;
    padding-left: 11px;
}
a.add-user.dispatch {
    background-color: #92d050;
}
a.add-user.reject {
    background-color: #c00000;
}
a.add-user:hover {
    color: #fff;
}

.bg-input{
        background-color: #eee;
        border: none!important;
}
.radio-btn{
    margin-right: 5px;
}
/*create-outward end */

.card-community-band {
    background-color: #fff;
    padding: 5px;
}
h4.card-title {
    font-size: 18px!important;
    font-weight: 400;
}
.dso-logo {
    margin-bottom: 0px!important;
}
.dso-logo {
    border: 1px solid #eee!important;
    padding: 8px!important;
}
.card-community-band h5 {
    font-size: 16px!important;
    font-weight: 600!important;
    margin-top: 7px;
}
.card-community-band h2 {
    font-size: 14px!important;
    font-weight: 600!important;
    color: #565454!important;
}
.card-community-band a {
    font-size: 14px!important;
}
.bottem-count-text {
    background-color: #fff!important;
}
.bottem-count-text ul li span {
    font-size: 14px;
    font-weight: 600;
    color: #978f8f;
}
.card-view-Browse .titile .arrow-btn-right{
    /* background-color: #216787; */
    background-color:#0070c0;
    border-radius: 45px;
    padding: 5px 15px;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    width: -moz-fit-content;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}
.clamp-default-2 h4{
    font-size: 17px!important;
    font-weight: 600;
    color: #5c5c5c;
    overflow: hidden;
    white-space: unset;
    text-overflow: ellipsis;
    height: 41px!important;
}

.btn-right-ele {
    display: flex;
    justify-content: flex-end;
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content{
    min-height: 390px!important;
}
.home-tab-band-nav button:focus {
    outline: none;
}
/* 01-12-22 */
.card-view-Browse .titile a h5 {
    margin-bottom: 25px;
}
.sub-browse-nav-row{
    padding: 10px;
    background-color: #fff;
}
.sub-browse-nav-row .list-group-item.active {
    background-color: #0070c0!important;
    border-color: #0070c0!important;
}
.container {
    max-width: 1228px!important;
}
button.tablink.current {
    color: #000!important;
}
.tab-sub-active {
    width: fit-content;
    position: relative;
    padding: 0px 20px;
}
.tab-sub-active:before {
    content: "";
    width: 100%;
    height: 7px;
    background-color: #0070c0;
    position: absolute;
    bottom: -19px;
    right: 0;
    border-radius: 0;
}
.clamp-default-2.h4 .content {
    max-height: 1.5rem!important;
}
button:focus {
    outline: none!important;
}

.tab-section-workspace.main-mb #Items.text-band-db {
    display: block;
}	

.tab-section-workspace div#Items {
display: block;
}