@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
  }
  .header {
    background-color: #237E98;
  }
}

.navbar-toggler {
  color: var(--ds-header-icon-color);
  .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
  }

  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}
::ng-deep .xs-action-menu {
  .fa, .fas, li a {
    font-size: 1rem;
  }
}

.mobilelogoheight {
  height: 7vh;
}
