<link rel="stylesheet" type="text/css" src="../../../assets/CSS/bootstrap.css" />
<div class="col-md-6">
    <div class="recent_details">
      <span class="badge badge-info">Publications & Research :: Publication</span>
      <div class="fro">
        <a>Adult Literacy Programs in Uganda </a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 small-chart">
    <div id="viewschart1">
    </div>
    <div class="text-center chart-data">
      <div><i class="far fa-eye mr-1"></i><span><b>17</b> Views</span></div>
      <div><span><b>401</b> Total Views</span></div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="last-chart">
      <div id="viewschart11">
      </div>
      <div class="text-center chart-data">
        <div><i class="fas fa-paperclip mr-1"></i><span><b>2</b> Attachment Views</span></div>
        <div><span><b>30</b> Total Attachment Views</span></div>
      </div>
    </div>
  </div>