<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="item-detail-page" style="padding: 15px;">

  <div class="row m-0 boxshadow  border itemdetail-image" style="background-color: #f8f8f8 !important;">
    <div class="col-xs-12 col-md-2 py-3">
      <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
        <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
          <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"
            [defaultImage]="'assets/images/item.jpg'"></ds-themed-thumbnail>
        </ds-metadata-field-wrapper>
      </ng-container>
    </div>
    <div class="col-xs-12 col-md-10 py-3 pl-3">
      <div class="w-100 d-flex justify-content-between pr-4">
        <p class="h6 badge badge-primary mb-2" *ngIf="object.firstMetadataValue('dc.type')">{{
          object.firstMetadataValue('dc.type') | translate }}
        </p>
        <ds-dso-edit-menu></ds-dso-edit-menu>
      </div>
      <div class="d-flex flex-row mb-2 justify-content-between pr-3">
        <!-- <ds-themed-item-page-title-field [item]="object" class=""></ds-themed-item-page-title-field> -->
        <div class="ellipsify-vertical line-3 item-page-title-field text-secondary d-flex">
          <span class="h4"
            *ngIf="object.firstMetadataValue('person.prefix')">{{object.firstMetadataValue('person.prefix')}}</span>&nbsp;
          <ds-themed-item-page-title-field [item]="object" class=""></ds-themed-item-page-title-field>
        </div>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.contributor.advisor')">
        <span class="text-secondary h6">{{'untypeitem.metadata.advisor' | translate}}: </span>
        <ng-container *ngFor="let advisor of object.allMetadataValues('dc.contributor.advisor'); let last = last;">
          <a class="item-page-link-color" *ngIf="advisor.split('[').length==2" [href]="getAdvisorlink(advisor)"
            target="_blank">{{advisor.split("[")[0]}}</a>
          <span *ngIf="advisor.split('[').length==1">{{advisor}}</span>
          <span *ngIf="!last">; </span>
        </ng-container>
      </div>
      <div class="col-lg-12 mb-2 p-0" *ngIf="object.firstMetadataValue('dc.faculty')">
        <span class="text-secondary h6">{{'untypeitem.metadata.faculty' | translate}}: </span>
        <ng-container *ngFor="let faculty of object.allMetadataValues('dc.faculty'); let last = last;">
          <a [routerLink]="['/search']" [queryParams]="{'f.faculty':faculty+',equals'}">{{faculty}}</a>
          <span *ngIf="!last"> | </span>
        </ng-container>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="departmentList.length>0">
        <span class="text-secondary h6">{{'project.page.department' | translate}}: </span>
        <span class="mb-2" *ngFor="let sec of departmentList; let last = last">
          <a [routerLink]="['/entities/orgunit/', sec.id]">
            <span>{{sec.firstMetadataValue('organization.legalName')}}</span>
          </a>
          <span *ngIf="!last">; </span>
        </span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.email')">
        <span class="text-secondary h6">{{'person.page.email' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.email')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.orcid')">
        <span class="text-secondary h6">{{'person.page.orcid' | translate}}: </span>
        <ng-container *ngFor="let orcid of object.allMetadataValues('person.orcid'); let last = last;">
          <a target="_blank" href="{{orcid}}">{{orcid}}</a>
        </ng-container>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.scopusid')">
        <span class="text-secondary h6">{{'person.page.scopusid' | translate}}: </span>
        <ng-container *ngFor="let scouid of object.allMetadataValues('person.scopusid');let last=last">
          <a href="https://www.scopus.com/authid/detail.uri?authorId={{scouid}}" target="_blank"><span
              class="slash text-black">{{scouid}}</span>
            <span *ngIf="!last">, </span></a>
        </ng-container>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.research.interest')">
        <span class="text-secondary h6">Research Intrest: </span>
        <span> {{object.firstMetadataValue('person.research.interest')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.research.project')">
        <span class="text-secondary h6">{{'untypeitem.metadata.research_project' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.research.project')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract"
        *ngIf="object.firstMetadataValue('person.community.engagement')">
        <ds-truncatable [id]="2" *ngIf="object !== undefined && object !== null">
          <ds-truncatable-part [id]="2" [minLines]="3">
            <span class="text-secondary h6">{{'untypeitem.metadata.community_engagement' | translate}}: </span>
            <span class="slash text-black"
              [innerHTML]="object.firstMetadataValue('person.community.engagement')"></span>
          </ds-truncatable-part>
        </ds-truncatable>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract text-justify" *ngIf="object.firstMetadataValue('person.biography')">
        <span class="text-secondary h6">Biography: </span>
        <span> {{object.firstMetadataValue('person.biography')}}</span>
      </div>
      
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.department')">
        <span class="text-secondary h6">{{'person.page.departmentName'| translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.department')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.designation')">
        <span class="text-secondary h6">{{'person.designation' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.designation')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.employeeID')">
        <span class="text-secondary h6">Employee ID: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.employeeID')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0" *ngIf="object.firstMetadataValue('dc.contributor.editor')">
        <span class="text-secondary h6">Editor: </span>
        <ng-container *ngFor="let language of object.allMetadataValues('dc.contributor.editor'); let last = last;">
          <span class="text-black">{{language}}</span>
        </ng-container>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.phoneno')">
        <span class="text-secondary h6">{{'person.page.phoneno' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.phoneno')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.faculty')">
        <span class="text-secondary h6">{{'person.page.facultyName' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('person.faculty')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('organization.hod')">
        <span class="text-secondary h6">{{'organization.page.hod' | translate}}: </span>
        <span class="slash text-black">{{object.firstMetadataValue('organization.hod')}}</span>
      </div>
      <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.research.interest')">
        <span class="text-secondary h6">{{'person.page.person.research.intrest' | translate}}: </span>
        <ng-container *ngFor="let research of object.allMetadataValues('person.research.interest');let last=last">
          <span class="slash text-black">{{research}}</span>
          <span *ngIf="!last">, </span>
        </ng-container>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 py-3" *ngIf="thestype.length>0">
      <table class="table table-hover table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Document Types</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thestype">
            <td>{{data.label}}</td>
            <td>{{data.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid itemdetail-footer-actions">
      <div class="row text-secondary  action-row">
        <div class="col-12 col-md-6 footeractions-left">
          <div class="d-flex flex-wrap flex-md-nowrap flex-action">
            <div class="col-6 col-md-3 border-right text-center">
              <span>
                <i class="fa fa-lg fa-eye mr-1" aria-hidden="true"></i>
                <span>Views</span>
              </span>
              <p>{{object.viewcount}}</p>
            </div>
            <div class="col-6 col-md-3 border-right text-center">
              <span>
                <i class="fa fa-lg fa-download mr-1" aria-hidden="true"></i>
                <span>Downloads</span>
              </span>
              <p>{{object.download}}</p>
            </div>
            <div class="col-6 col-md-3 border-right text-center">
              <div class="nav-item dropdown" ngbDropdown>
                <a class="p-0 nav-link dropdown-toggle  " id="navbarScrollingDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  <i class="fa fa-lg fa-star mr-1" aria-hidden="true"> </i> Rating
                </a>
                <div class="container " style="min-width: 352px;" ngbDropdownMenu
                  aria-labelledby="navbarScrollingDropdown">
                  <div class="row  border-bottom text-center m-0 p-2">
                    <div class="col-6  border-right ">
                      <div class="text-muted ">Your Rating</div>
                      <div class="ratingSectionNum">
                        <span class="text-secondary h6">
                          <span *ngIf="!(isAuthorized$ | async)">N</span>
                          <!-- <span *ngIf="(isAuthorized$ | async)">N</span> -->
                          <span *ngIf="(isAuthorized$ | async) && myrating">{{myrating.ratingcount=== 0 ?
                            'N':myrating.ratingcount }}</span>
                        </span>
                        <span class="ratedDivider">/</span>
                        <span class="h6">
                          <span *ngIf="!(isAuthorized$ | async)">A</span>
                          <span *ngIf="(isAuthorized$ | async) && myrating">{{ myrating.ratingcount === 0 ? 'A': 5
                            }}</span>
                          <!-- <span *ngIf="(isAuthorized$ | async)">A</span> -->
                        </span>
                      </div>
                      <div class="ratingSectionStars">
                        <div class="smallfix yourratingdiv">
                          <ng-container *ngIf="!myrating">
                            <span *ngFor="let item of[].constructor(5)">
                              <i class="far fa-sm fa-star ml-1 " aria-hidden="true"> </i>
                            </span>
                          </ng-container>
                          <ng-container *ngIf="myrating">
                            <span *ngFor="let item of[].constructor(myrating.ratingcount)">
                              <i class="fa fa-sm fa-star ml-1 " aria-hidden="true"> </i>

                            </span>
                            <span *ngFor="let item of[].constructor(5-myrating.ratingcount)">
                              <i class="far fa-sm fa-star ml-1 " aria-hidden="true"> </i>
                            </span>
                          </ng-container>

                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text-muted">Avg. Rating</div>
                      <div class="ratingSectionNum">
                        <span class="text-secondary h6">{{ avgrating }}</span>
                        <!-- <span class="text-secondary h6">0</span> -->
                        <span class="ratedDivider">/</span><span class="h6">5</span>
                      </div>
                      <div class="ratingSectionStars">
                        <div class="smallfix yourratingdiv">
                          <!-- <i class="far fa-sm fa-star ml-1 " aria-hidden="true"> </i>
                      <i class="far fa-sm fa-star  ml-1" aria-hidden="true"> </i>
                      <i class="far fa-sm fa-star  ml-1" aria-hidden="true"> </i>
                      <i class="far fa-sm fa-star  ml-1" aria-hidden="true"> </i>
                      <i class="far fa-sm fa-star ml-1" aria-hidden="true"> </i> -->


                          <span *ngFor="let item of[].constructor(avgrating)">
                            <i class="fa fa-sm fa-star ml-1 " aria-hidden="true"> </i>

                          </span>
                          <span *ngFor="let item of[].constructor(5-avgrating)">
                            <i class="far fa-sm fa-star ml-1 " aria-hidden="true"> </i>
                          </span>
                        </div>
                      </div>
                      <small id="totalrating">( {{object.ratingcount}} Reviews )</small>
                    </div>
                  </div>

                  <div class="row  m-0 p-2">
                    <div class="col-12 ">
                      <div class="text-muted h6">Rating Breakup</div>

                      <div class="viwerBreakupRow starFive" *ngFor="let brestart of breakingRating | keyvalue">
                        <div class="side">
                          <div>{{brestart.key}} <i class="fa fa-star"></i></div>
                        </div>
                        <div class="middle w-75">
                          <div class="bar-container bg-secondary "
                            [style.width]="getwidthRating(brestart.value,object.ratingcount) " style="height: 10px;">
                          </div>
                        </div>
                        <div class="right ">
                          <div class="count5start">{{brestart.value}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <p>
                <span *ngFor="let item of[].constructor(avgrating)">
                  <i class="fa fa-sm fa-star ml-1 " aria-hidden="true"> </i>

                </span>
                <span *ngFor="let item of[].constructor(5-avgrating)">
                  <i class="far fa-sm fa-star ml-1 " aria-hidden="true"> </i>
                </span>
              </p>
            </div>
            <!-- <div class="col-6 col-md-3 border-right text-center">
              <span>
                <i class="fa fa-lg fa-comment mr-1" aria-hidden="true">
                </i>
                <span>Comments</span>
              </span>
              <p>{{object.commentcount}}</p>
            </div> -->
          </div>
        </div>
        <!-- Flex Container in Column Direction -->
        <div class="col-12 col-md-6 footeractions-right">
          <div class="row justify-content-around justify-content-md-end m-md-0 mb-2 flex-action">
            <div class="align-self-end pr-4 text-center" *ngIf="isAuthorized$ | async">
              <span>
                <i [ngClass]="(bookmarkitem!=null && bookmarkitem.status==='active')?'fa':'far'"
                  [attr.title]="(bookmarkitem!=null && bookmarkitem.status==='active') ? 'Click here to UnBookmark this item' : 'Click here to Bookmark this item'"
                  class=" fa-lg  fa-bookmark element" aria-hidden="true" (click)="savebookmark()">
                </i>
              </span>
            </div>
            <div class="text-center user-rating-action">
              <p class="m-0 p-0">Rating this item</p>
              <span *ngIf="!(isAuthorized$ | async) && !myrating">
                <i class="far fa-lg fa-star element " aria-hidden="true" style="cursor: pointer;"
                  (click)="saveRating(1)">
                </i>
                <i class="far fa-lg fa-star element " aria-hidden="true" style="cursor: pointer;"
                  (click)="saveRating(2)">
                </i>
                <i class="far fa-lg fa-star element" aria-hidden="true" style="cursor: pointer;"
                  (click)="saveRating(3)">
                </i>
                <i class="far fa-lg fa-star element" aria-hidden="true" style="cursor: pointer;"
                  (click)="saveRating(4)">
                </i>
                <i class="far fa-lg fa-star element" aria-hidden="true" style="cursor: pointer;"
                  (click)="saveRating(5)">
                </i>
              </span>
              <ng-container *ngIf="myrating">

                <span *ngFor="let item of[].constructor(5);let i=index">
                  <!-- <span>{{i}}</span> -->
                  <i class="fa fa-sm fa-star ml-1 " *ngIf="i < myrating.ratingcount" aria-hidden="true"
                    style="cursor: pointer;" (click)="saveRating(i+1)"> </i>
                  <i class="far fa-sm fa-star ml-1 " *ngIf="i >= myrating.ratingcount" aria-hidden="true"
                    style="cursor: pointer;" (click)="saveRating(i+1)"> </i>
                </span>
              </ng-container>
            </div>
            <div class="d-flex align-self-end justify-content-center justify-content-md-start pl-4 action-icons">
              <div class="pr-3 text-center">
                <div ngbDropdown class="d-inline-block">
                  <a type="button" class="arrowhide dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-lg fa-share-alt " aria-hidden="true"> </i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                    <a ngbDropdownItem calss=""
                      href="https://facebook.com/sharer/sharer.php?u={{object.firstMetadataValue('dc.identifier.uri')}}">
                      <i class="fab fa-facebook-f facebookshare sharbutton"></i> <span class="ml-3">Facebook</span>
                    </a>
                    <a ngbDropdownItem calss=""
                      href="https://twitter.com/share?url={{object.firstMetadataValue('dc.identifier.uri')}}">
                      <i class="fab fa-twitter twittershare sharbutton"></i> <span class="ml-3">X</span>
                    </a>
                    <a ngbDropdownItem calss=""
                      href="whatsapp://send?text={{object.firstMetadataValue('dc.identifier.uri')}}">
                      <i class="fab fa-whatsapp wahtsupshare sharbutton"></i> <span class="ml-3">WhatsApp</span>
                    </a>
                    <a ngbDropdownItem calss=""
                      href="https://www.linkedin.com/shareArticle?mini=true&url={{object.firstMetadataValue('dc.identifier.uri')}}">
                      <i class="fab fa-linkedin linkshare sharbutton"></i> <span class="ml-3">LinkedIn</span>
                    </a>
                  </div>
                </div>




              </div>
              <div class="pr-3 text-center" (click)="Citation(content)">
                <a target="_self">
                  <i class=" fa fa-lg fa-quote-right  " aria-hidden="true">
                  </i>
                </a>
              </div>
              <div class="pr-3 text-center">
                <a target="_self" href="mailto:?subject={{object.firstMetadataValue('dc.identifier.uri')}}">
                  <i class=" far fa-lg fa-envelope" aria-hidden="true"> </i>
                </a>
              </div>
              <div class="pr-3 text-center" (click)="printPage()">
                <span>
                  <i class=" fa fa-lg fa-print  " aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row boxshadow row-cols mt-4 info-block">
    <!-- <div class="col-12 col-md-4 mb-md-0 mb-3 pr-md-1 p-0 attachments">

      <div class="bg-white h-100 p-3 w-100">

        <ds-item-page-file-section [isBlank]="isBlank" [item]="object"></ds-item-page-file-section>

      </div>
    </div> -->
    <div class="col-12 col-md-12 pl-md-1 p-0 moredetails d-none">
      <div class="bg-white h-100 p-3 w-100">
        <h4 class="mb-2 text-secondary ">More Detail</h4>

        <div class="col-lg-12 mb-2 p-0" *ngIf="object.firstMetadataValue('dc.date.issued')">
          <span class="text-secondary h6">Issue Date: </span>
          <span class="text-black">{{object.firstMetadataValue('dc.date.issued')}}</span>
        </div>
        <div class="col-lg-12 mb-2 p-0" *ngIf="object.firstMetadataValue('dc.organization')">
          <span class="text-secondary h6">Organization </span>
          <ng-container *ngFor="let subject of object.allMetadataValues('dc.organization'); let last = last;">
            <a class="h6" [routerLink]="['/search']" [queryParams]="{'f.organization':subject+',equals'}">
              <p class="badge badge-secondary  ">{{subject}}</p>
            </a>

          </ng-container>
        </div>
        <div class="col-lg-12 mb-2 p-0" *ngIf="object.firstMetadataValue('dc.source')">
          <span class="text-secondary h6">Source(s) </span>
          <ng-container *ngFor="let author of object.allMetadataValues('dc.source'); let last = last;">
            <a [routerLink]="['/search']" [queryParams]="{'f.source':author+',equals'}">
              <p class="badge badge-secondary  ">{{author}}</p>
            </a>
            <span *ngIf="!last"> | </span>
          </ng-container>
        </div>
        <div *ngIf="object.firstMetadataValue('organization.website')" class="item-list-org-unit-description mb-3">
          <span class="text-secondary h6">Website: </span>
          <a href="{{object.firstMetadataValue('organization.website')}}" target="_blank">
            <span>{{object.firstMetadataValue('organization.website')}}</span>
          </a>
        </div>
        <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.description.abstract')">
          <span class="text-secondary h6">Abstract: </span>
          <span [innerHTML]="object.firstMetadataValue('dc.description.abstract')"></span>
          <!-- <ds-truncatable [id]="2" *ngIf="object !== undefined && object !== null">
            <ds-truncatable-part [id]="2" [minLines]="3">
              <span class="slash text-black" [innerHTML]="object.firstMetadataValue('dc.description.abstract')"></span>
            </ds-truncatable-part>
          </ds-truncatable> -->
        </div>
        <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="act.length>0">
          <span class="text-secondary h6 ">Publication </span>
          <ul class="list-unstyled">
            <li class="mb-2" *ngFor="let sec of act">
              <a [routerLink]="['/entities/publication/', sec.id]">
                <span>{{sec.firstMetadataValue('dc.title')}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('dc.description')">
          <span class="text-secondary h6">Description </span>
          <p> {{object.firstMetadataValue('dc.description')}}</p>

        </div>
        <div class="col-lg-12 mb-2 p-0 item-list-abstract" *ngIf="object.firstMetadataValue('person.role')">
          <span class="text-secondary h6">Role </span>
          <p> {{object.firstMetadataValue('person.role')}}</p>
        </div>


      </div>
    </div>
  </div>

  <div class="row mt-4 m-0 card-grid-row">
    <ds-tabbed-related-entities-search [item]="object" [relationTypes]="[{
                                                label: 'isAuthorOfPublication',
                                                filter: 'isAuthorOfPublication',
                                                configuration: 'default-relationships'
                                              }]">
    </ds-tabbed-related-entities-search>
  </div>
  <div class="row boxshadow bg-white mt-4 comments-actions d-none">
    <!-- <div class="container-fluid bg-white pb-3">
      <form [formGroup]="CommentFormGroup">
        <div class="row mb-2">
          <div class="col-lg-12 p-3">
            <span class="text-secondary  h4 ">Comments </span>
            <span class="text-secondary ">(Leave your Comments here about this item.)</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-9 col-lg-10">
            <input type="text" value="" formControlName="comments" class="form-control"
              placeholder="Enter Comments here">
          </div>
          <div class="col-12 col-md-3 col-lg-2 mt-2 m-md-0 px-2">
            <button (click)="savecomment()" [disabled]="CommentFormGroup.invalid"
              class="form-control subBtn btn btn-secondary ">
              <p class="ellipsify m-0">Add Comment</p>
              <i class="fa fa-plus-circle ml-2"> </i>
            </button>
          </div>
        </div>
      </form>
      <ds-pagination *ngIf="(pageInfoState$ | async)?.totalElements > 0 && !loder" [paginationOptions]="config"
        [hidesortOption]="false" [pageInfoState]="pageInfoState$" (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)" [collectionSize]="(pageInfoState$ | async)?.totalElements"
        [hideGear]="true" [hidePagerWhenSinglePage]="true" [hidePaginationDetail]="true" style="width:100%">
        <div class="row mt-3 " *ngFor="let commentobj of (comment$ | async)?.page; let i=index;">
          <ng-container *ngIf="commentobj.status!=3">

          </ng-container>
          <div class="col-lg-12 border-top">
            <p class="mt-2">{{commentobj.comment}}</p>
          </div>
          <div class="col-lg-12 text-secondary " style=" text-align: right;">

            <span>{{commentobj.submitterRest.metadata['eperson.firstname'][0].value+'
              '+commentobj.submitterRest.metadata['eperson.lastname'][0].value}} add comment on {{commentobj.actiondate
              |
              date:'yyyy-MM-dd HH:mm:ss'}} </span> <a *ngIf="isAuthorized$ | async" (click)="flagComment(commentobj)"> |
              Flag this Comment</a>
          </div>
        </div>
      </ds-pagination>

    </div> -->

    <div class="row boxshadow bg-white mt-4">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Citation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="container modal-body">
          <div class="row">
            <div class="col-12">
              <!-- <p #userinput>{{cirtation}}</p> -->
              <div class="main-div" *ngFor="let item of cirtation">
                <div class="key">{{item[0]}}</div>
                <div class="value" #userInput>{{ item[1] }}<i class="fa fa-copy" ngbTooltip="Copy"
                    (click)="copyInputMessage(userInput)"></i></div>
              </div>
            </div>
            <div class="col-12 d-flex border-top mt-3 pt-3">
              <!-- <label class="form-check-label">Style</label> -->
              <select class="form-control mr-3" [(ngModel)]="cirteanselection">
                <option value="RefMan" selected>RefMan</option>
                <option value="EndNote">EndNote</option>
                <option value="BibTeX">BibTeX</option>
                <option value="xlsx">Export Excel(xlsx)</option>
                <option value="csv">Export Excel(csv)</option>
              </select>
              <button class="float-right mr-3 btn btn-secondary " (click)="dowloadFile()">Download</button>
            </div>
          </div>
        </div>

      </ng-template>
    </div>
  </div>