.tab-section {
    .nav-tabs {
        // border-bottom: 1px solid #8193dc;

        .nav-item {
            .nav-link {
                // color: #8193dc;
                border: 3px solid transparent;
                border-radius: 0px !important;
                font-size: 20px;
                padding-bottom: 0px;
            }

            .nav-link.active {
                // color: #8193dc;
                background-color: #fff;
                // border-color: #fff #fff #8193dc;
            }
        }
    }

    .chart-tabs {
        margin-bottom: 30px;

        .nav-tabs {
            border-bottom: 1px solid #dee2e6;

            .nav-link {
                font-size: 18px;
                padding: 14px;
                text-align: center;
                color: #000000;
                width: 220px;
                border: 1px solid;
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    color: #000000;
                    background-color: transparent;
                    border-color: transparent;
                }
            }

            .nav-link.active {
                color: #000000;
                background-color: #fff;
                border-color: #dee2e6 #dee2e6 #fff;
            }
        }

        .tab-content {
            border: 1px solid #dee2e6 !important;
            border-top: 0px !important;
            margin: 0 !important;
            padding: 10px;
        }

        .chart-heading {
            .title {
                font-size: 1.3em;
                color: #636365;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .description {
                font-size: 0.7em;
                color: #565656;
                line-height: 1.2em;
            }
        }

        .btn-fliter {
            border: 1px solid #ccc;
            width: max-content;
            padding: 5px 0px;
            border-radius: 7px;

            button {
                all: unset;
                cursor: pointer;
                font-size: 13px;
                text-transform: capitalize;
                border: 0px;
                border-radius: 3px;
                padding: 2px 5px;
                margin: 0px 5px;
                transition: 0.3s ease-in-out all;

                &:hover {
                    background-color: #f0f0f0;
                }
            }

            .line {
                background-color: #ccc;
                height: 100%;
                padding: 0px 1px;
            }
        }

        .trendy-items {
            .list-group-item1 {
                border: 1px solid #ccc !important;
                margin: 10px 0px;
                transition: all .5s;
                display: flex;

                .recent_details {
                    .rec_details_title1 {
                        p {
                            color: #5e913b;
                            font-size: 18px;
                            margin: 0;
                        }
                    }

                    .fro {
                        font-size: 1.25rem;
                        font-weight: 300;
                        cursor: pointer;

                        a {
                            color: #463688;
                        }
                    }

                    .fro-author {
                        a {
                            white-space: nowrap;
                            color: #000;
                            font-size: 0.8em;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline !important;
                            }

                            i {

                                margin-right: 5px;
                            }
                        }
                    }
                }

                .chart-data {
                    font-size: 11px;

                    span {
                        b {
                            font-weight: 900;
                            // color: #8193dc;
                        }
                    }
                }

                .small-chart {
                    border-left: 1px solid #b5b3b3;
                    border-right: 1px solid #b5b3b3;
                }

                &:hover {
                    box-shadow: 3px 3px 4px 0px #a5a3a3;
                    -webkit-box-shadow: 3px 3px 4px 0px #a5a3a3;
                }
            }
        }

        .trending-metrics {
            .common-box {
                border: 1px solid #ccc;
                border-radius: 15px;
                padding: 15px;

                .title-fliter {
                    background-color: #f0f0f0;
                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 15px;

                    .title {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    .filter-dropdown {
                        all: unset;
                        cursor: pointer;

                        i {
                            font-size: 12px;
                        }

                        &::after {
                            display: none;
                        }
                    }
                }

                .viewdownloadsearch {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;

                    .view {
                        border-right: 1px solid #ccc;
                        padding: 0px 15px;
                        text-align: center;

                        .icon {
                            font-size: 14px;
                        }

                        .count {
                            font-size: 16px;
                            font-weight: 700;
                            margin: 0px;
                        }

                        &:last-child {
                            border: 0px;
                        }
                    }
                }

                .top-cities {
                    .table-responsive {
                        max-height: calc(100vh - 750px);

                        table {
                            th {
                                font-weight: 800 !important;
                            }

                            th,
                            td {
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                ngb-carousel {
                    border: 1px solid #ccc;
                    padding: 15px 40px;
                    border-radius: 10px;

                    .slider-content {
                        .title {
                            font-size: 16px;
                            font-weight: 700;
                            margin: 0px;
                            margin-bottom: 15px;
                        }

                        .link-desc {
                            font-size: 14px;
                            color: #000;
                        }

                        .icon {
                            margin-top: 30px;
                            font-size: 14px;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .tab-section {
        .nav-tabs {
            flex-wrap: nowrap;
            // border-bottom: 1px solid #8193dc;
        }

        .chart-tabs {
            .nav-tabs {
                .nav-link {
                    width: auto;
                }
            }

            .trendy-items {
                .list-group-item {
                    padding: 0.75rem 0rem;

                    .small-chart {
                        border: 0px;
                        // border-left : 1px solid #b5b3b3;
                        // border-right: 1px solid #b5b3b3;
                    }
                }
            }
        }
    }
}

#chart {
    min-height: 480px;
}
.chart-heading {
    .title {
        font-size: 1.3em;
        color: #636365;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .description {
        font-size: 0.7em;
        color: #565656;
        line-height: 1.2em;
    }
}

.btn-fliter {
    border: 1px solid #ccc;
    width: max-content;
    padding: 5px 0px;
    border-radius: 7px;

    button {
        all: unset;
        cursor: pointer;
        font-size: 13px;
        text-transform: capitalize;
        border: 0px;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 0px 5px;
        transition: 0.3s ease-in-out all;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .line {
        background-color: #ccc;
        height: 100%;
        padding: 0px 1px;
    }
}