input[type="text"].headerSearchInpt {
  // found issue in header search so margin-top commented
  // margin-top: calc(-0.5 * var(--bs-font-size-base)); 
  background-color: #fff !important;
  border-color: var(--ds-header-icon-color);
    
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    max-width: 235px;
  }
  @media screen and (max-width: 320px) {
    max-width: 170px;
  }

  &.collapsed {
    opacity: 0;
  }
}
.submit-icon {
  cursor: pointer;
  position: sticky;
  top: 0;

  color: var(--ds-header-icon-color);
  &:hover, &:focus {
    color: var(--ds-header-icon-color-hover);
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .query:focus {
    max-width: 250px !important;
    width: 40vw !important;
  }
}

