<div>
    <div [id]="id" 
         [ngStyle]="{'height': height}"
         style="width: 100%;max-height: 500px;" 
         class="map-container">
    </div>
    
    <div class="custom-legend-container" *ngIf="showLegends">
        <div class="custom-legend">
            <div *ngFor="let item of customLegendItems" class="custom-legend-item" [class.selected]="item.selected"
                (click)="onCustomLegendClick(item)">
                <div class="legend-color-box" [style.background-color]="item.color"></div>
                <span class="legend-label">{{ item.label }}</span>
        </div>
        </div>
    </div>
</div>